html { -webkit-text-size-adjust: none; }


#container {
    box-sizing: border-box;
    font-size:120%;
    color:#000;
    line-height:120%;
    text-align:justify;
    box-sizing: border-box;
    padding-left:7%;
    padding-right:7%;
}

#pageTitle {
    font-size:50px;
    text-align:center;
    font-weight:bold;
}

#fileNotFound {
    font-size:1.2em;
}

#messageSent {
    font-size:1.2em;
}

#indexCarPhoto {
    height:230px;
}

#indexLogos {
    width:22px;
    height:auto;
}

#priceTag {
    font-size:38px;
}

#indexButton {
    height:100px;
    width:100%;
    font-size: 20px;
    border: 3pt outset #FF0000;
    white-space:normal;
}

#indexButton:active {
    border: 3pt inset #FF0000;
}

#indexTableCell {
    padding:10px 10px 10px 10px;
}

#carPageHeaders {
    font-size:20px;
}

#carPageMainPic {
    width:100%;
    height:400px;
}
#carPicSlide {
    width:170px;
    height:auto;
    margin:3px;
}
#carPageButton {
    border: 3pt outset #FF0000; 
    height:60px;
    width:100%;
    font-size:20px;
    white-space:normal;
}
#carPageButton:active {
    border: 3pt inset #FF0000; 
}

#wbcTextBox {
    font-size: 1.3em;
    width:90%;
    height:30px;
}
#wbcTextArea {
    font-size: 18px;
    width:90%;
    height:300px;
}
#wbcButton {
    border: 3pt outset #FF0000; 
    font-size: 20px; 
    width:90%;
    height:70px;
}
#wbcButton:active {
    border: 3pt inset #FF0000; 
}

#contactUs1 {
    font-size:1.2em;
}

#contactUs2 {
    font-size:1.3em;
}
#clockLogo {
    width:7%;
    height:7%;
}

/* Desktop & Mobile Screens Set to 1024 x 768 or Below  */
@media screen and (max-width: 1024px) {

    #body {
        overflow: hidden;
        overflow-y: visible;
        -webkit-overflow-scrolling: touch;
    }

    #container {
        font-size:120%;
        line-height:120%;
    }

    #fileNotFound {
        font-size:1.2em;
    }

    #messageSent {
        font-size:1.2em;
    }

    #indexCarPhoto {
        height:230px;
    }

    #indexLogos {
        width:20px;
    }
    
    #priceTag {
        font-size:25px;
    }
    
    #indexButton {
        height:100px; 
        font-size:15px;
    }

    #carPageHeaders {
        font-size:18px;
    }
    #carPicSlide {
        width:90px;
    }
    #carPageMainPic {
        height:350px;
    }
    #carPageButton {
        height:60px;
        width:100%;
        font-size:120%;
    }

    #wbcTextBox {
        font-size: 1.3em;
        width:90%;
        height:30px;
    }
    #wbcTextArea {
        font-size: 18px;
        width:90%;
        height:300px;
    }
    #wbcButton {
        font-size: 20px; 
        width:90%;
        height:70px;
    }

    #clockLogo {
        width:7%;
        height:7%;
    }

    #findUsImg {
        height:250px;
    }
}

/* Desktop & Mobile Screens Set to 640 x 768 or Below  */
@media screen and (max-width: 767px) {

    #container {
        font-size:100%;
        line-height:120%;
    }

    #pageTitle {
        font-size:45px;
    }

    #fileNotFound {
        font-size:1.2em;
    }

    #messageSent {
        font-size:1.2em;
    }

    #indexCarPhoto {
        height:350px;
    }
    #indexLogos {
        width:22px;
    }
    
    #priceTag {
        font-size: 45px;
    }
    
    #indexButton {
        height:100px; 
        width:70%;
        font-size:30px;
    }

    #carPageHeaders {
        font-size:15px;
    }

    #carPicSlide {
        width:140px;
    }

    #carPageMainPic {
        height:auto;
    }
    #carPageButton {
        height:60px;
        width:100%;
        font-size:25px;
    }
    #clockLogo {
        width:7%;
        height:7%;
    }
    #findUsImg {
        height:230px;
    }
}

/* Desktop & Mobile Screens Set to 640 pixels or Below  */
@media screen and (max-width: 640px) {  
    #container {
        font-size:100%;
        line-height:120%;
    }

    #pageTitle {
        font-size:29px;
    }

    #indexLogos {
        width:20px;
    }

    #indexCarPhoto {
        height:250px;
    }
    
    #priceTag{
        font-size:40px;
    }

    #indexButton {
        height:80px; 
        font-size:20px;
        border: 2pt outset #FF0000;
    }

    #carPageHeaders {
        font-size:11px;
    }

    #carPicSlide {
        width:130px;
    }

    #carPageMainPic {
        height:auto;
    }
    #carPageButton {
        height:50px;
        width:100%;
        font-size:25px;
        border: 2pt outset #FF0000;
    }
    #clockLogo {
        width:10%;
        height:10%;
    }
    #findUsImg {
        height:200px;
    }
}

/* Desktop & Mobile Screens Set to 480 pixels or Below  */
@media screen and (max-width: 480px) {
    #pageTitle {
        font-size:23px;
    }

    #indexLogos {
        width:18px;
    }
    #indexCarPhoto {
        height:200px;
    }

    #priceTag {
        font-size:33px;
    }
    
    #indexButton {
        height:60px;
        font-size:18px;
        border: 2pt outset #FF0000;
    }

    #carPageHeaders {
        font-size:10px;
    }

    #carPicSlide {
        width:110px;
    }

    #carPageButton {
        height:40px;
        width:100%;
        font-size:17px;
        border: 2pt outset #FF0000;
    }

    #clockLogo {
        width:10%;
        height:10%;
    }

    #findUsImg {
        height:170px;
    }
}

/* Desktop & Mobile Screens Set to 320 pixels or below  */
@media screen and (max-width: 319px) {
    #indexLogos {
        width:15px;
    }
    #indexCarPhoto {
        height:150px;
    }

    #priceTag {
        font-size:30px;
    }
    
    #indexButton {
        height:60px; 
        font-size:15px;
        border: 1pt outset #FF0000;
    }

    #carPageHeaders {
        font-size:10px;
    }

    #carPicSlide {
        width:85px;
    }

    #carPageContact {
        font-size:60%;
    }
    #carPageButton {
        height:40px;
        width:100%;
        font-size:16px;
        border: 2pt outset #FF0000;
    }

    #clockLogo {
        width:10%;
        height:10%;
    }

    #findUsImg {
        height:150px;
    }
}